.navbar {
  background-color: #2a465c;
}

.cursorCard {
  margin: 0 auto;
}

.cardDiv {
  display: inline-flex;
}

/* login page css :D */

.loginPage {
  background-image: url("./components/Presentational/images/rentaloginpic.jpg");
  padding-bottom: 20%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  color: white;
}

.loginH1 {
  margin-bottom: 25%;
  text-align: center;
}

.loginLabels {
  font-size: medium;
  font-weight: 700;
}

/* Register Form */



a {
  color: #FFF;
}
a:hover {
   color: black;
}